{# Copyright (c) 2015, NVIDIA CORPORATION.  All rights reserved. #}

{% from "helper.html" import print_flashes %}

{% extends "layout.html" %}

{% block title %}
New Image Dataset
{% endblock %}

{% block nav %}
<li class="active"><a href="{{url_for('generic_image_dataset_new')}}">New Dataset</a></li>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>New Image Dataset</h1>
</div>

<form action="{{url_for('generic_image_dataset_create')}}" enctype="multipart/form-data" method="post">
    {{ form.hidden_tag() }}

    {% if form.errors %}
        <div class="alert alert-danger">
            {% for field, errors in form.errors.items() %}
                <li>{{ field }}
                    <ul>
                        {% for e in errors %}
                            <li>{{ e }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="db-tabs" role="tablist">
                <li><a href="#db-prebuilt" role="tab" data-toggle="tab">Use Prebuilt LMDBs</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content well">
                <!-- Prebuilt -->
                <div class="tab-pane" id="db-prebuilt">
                    <div class="row">
                        <table class="table">
                            <tr>
                                <td></td>
                                <th>Images LMDB</th>
                                <th>Labels LMDB</th>
                            </tr>
                            <tr>
                                <td><b>Training</b></td>
                                <td class="form-group{{' has-error' if form.prebuilt_train_images.errors}}">
                                    {{ form.prebuilt_train_images(class='form-control autocomplete_path') }}
                                </td>
                                <td class="form-group{{' has-error' if form.prebuilt_train_labels.errors}}">
                                    {{ form.prebuilt_train_labels(class='form-control autocomplete_path') }}
                                </td>
                            </tr>
                            <tr>
                                <td><b>Validation</b></td>
                                <td class="form-group{{' has-error' if form.prebuilt_val_images.errors}}">
                                    {{ form.prebuilt_val_images(class='form-control autocomplete_path') }}
                                </td>
                                <td class="form-group{{' has-error' if form.prebuilt_val_labels.errors}}">
                                    {{ form.prebuilt_val_labels(class='form-control autocomplete_path') }}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="form-group{{ ' has-error' if form.prebuilt_mean_file.errors else '' }}">
                                {{ form.prebuilt_mean_file.label }}
                                <div class="input-group">
                                    {{ form.prebuilt_mean_file(class='form-control autocomplete_path') }}
                                    <span name="prebuilt_mean_file_explanation"
                                        class="input-group-addon explanation-tooltip glyphicon glyphicon-question-sign"
                                        data-container="body"
                                        title="Path to a .binaryproto file on the server"
                                        ></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form.method(style="display:none;") }}
    <script>
function update_db_tab(tabName) {
    $('select[name=method]').val( tabName );
}
$('#db-tabs a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
        parts = e.target.href.split('-');
        update_db_tab( parts[parts.length-1] );
        });
$('#db-tabs a[href="#db-{{ form.method.data }}"]').tab('show');
    </script>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 well">
            <div class="form-group{{ ' has-error' if form.dataset_name.errors else '' }}">
                {{ form.dataset_name.label }}
                {{ form.dataset_name(class='form-control') }}
            </div>
            <input type="submit" name="create-dataset" class="btn btn-primary" value="Create">
        </div>
    </div>

</form>

<script>
$(".explanation-tooltip").tooltip();
</script>

{% endblock %}
